body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 30px 10px;
}

section {
    padding: 20px;
    margin: 10px;
}

section img {
    width: 80%;
    max-width: 400px;
    margin: 10px 0;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
}
